@page "/"
@using AspireYouTubeSummariser.WebApp.Components.UI
@rendermode InteractiveServer

<PageTitle>YouTube Summariser</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<YouTubeSummariserComponent />
